language: php

php:
  - 5.3
  - 5.4

env:
  - SYMFONY_VERSION=origin/2.1

before_script:
    - curl -s http://getcomposer.org/installer | php
    - php composer.phar install --dev

notifications:
  email:
    - dev@escapestudios.com